<mat-card class="pl-3 mt-4">
    <div class="header-content-wrapper">
        <div (click)="goToPost(postId)">
            <mat-card-header>
                <mat-card-title>{{title}}</mat-card-title>
                <mat-card-subtitle>Posted by {{userName}}</mat-card-subtitle>
                <mat-card-subtitle>Posted {{createdDate | date: 'dd MMM'}} at {{createdDate | date: 'HH:mm'}}</mat-card-subtitle>
                <mat-card-subtitle class="d-flex">
                    <mat-chip-set *ngFor="let tag of tags">
                        <mat-chip class="mr-2">{{tag}}</mat-chip>
                    </mat-chip-set>
                </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="m-2 card-content">
                    <div *ngIf="!isEditing">
                        <p> {{body}} </p>
                    </div>
                    <textarea *ngIf="isEditing" [(ngModel)]="editedBody"></textarea>
                </mat-card-content>
        </div>
        <div>
            <mat-card-actions>
                <button [ngClass]="!isLoggedIn() || getUserIdFromToken() != userId ? 'button-hidden' : 'button-shown'" (click)="toggleEdit()" mat-button>{{ isEditing ? 'Cancel' : 'Edit' }}</button>
                <button *ngIf="isEditing" mat-button (click)="saveEdit()">Save</button>
                <button [ngClass]="!isLoggedIn() || getUserIdFromToken() != userId ? 'button-hidden' : 'button-shown'" (click)="deletePost()" mat-button>Delete</button>
            </mat-card-actions>
        </div>
    </div>
</mat-card>

<app-answer-grid *ngIf="isFullPost" [userId]="userId"></app-answer-grid>
<app-add-answer *ngIf="isFullPost" [ngClass]="!isLoggedIn() ? 'button-hidden' : 'button-shown'"></app-add-answer>
  