mat-card {
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: darkgray;
    width: 65vw;

    .upvote-wrapper{
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .score-wrapper{
        width: 64px;
        height: 48px;
        text-align: center;
        color: white;
        p{
            font-size: 16px;
            margin-right: 8px; //because mat-icons have a native 8px margin-right property for unknown fucking reasons
            margin-top: 12px;
        }
    }
}

.card-content {
    color: black;
}

.button-shown{
    display:flex;
}

.button-hidden{
    display:none;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100vw;
  }
  
.example-full-width {
width: 100%;
}