mat-card {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: row;
    background-color: darkgray;

    .upvote-wrapper{
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .score-wrapper{
        width: 100%;
        text-align: center;
        color: white;
        
        p{
            font-size: 16px;
            margin-right: 8px; //because mat-icons have a native 8px margin-right property for unknown fucking reasons
        }
    }
}
