mat-card {
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    width: 65vw;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100vw;
  }
  
  .example-full-width {
    width: 100%;
  }