<mat-card class="mt-4">
    <div class="ml-4 header-content-wrapper">
        <mat-card-header>
        <mat-card-title>Your suggestion</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="mt-2">
            <form class="example-form"><mat-form-field class="example-full-width">
                  <mat-label>Modify the answer</mat-label>
                  <textarea matInput [formControl]="answer" placeholder="Such empty. Much wow"></textarea>
                </mat-form-field>
              </form>
        </mat-card-content>
        <mat-card-actions>
            <button class="ml-2" mat-raised-button (click)="proceedPostSuggestion()">Post suggestion</button>
        </mat-card-actions>
    </div>
</mat-card>
