<div class="login-form">
    <div class="text">Login</div>
    <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="email@domain.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [formControl]="password" requred [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <div class="buttons">
        <button mat-raised-button id="login-button" (click)="attemptLogin()">Login</button>
        <button mat-raised-button extended id="register-button" routerLink="/register">Register</button>
    </div>
</div>